---
layout: default
header: big
---

<div class="row">
       <div class="col8">

<p>I am a research scientist at Siemens AG Österreich, specifically in the research division <a href="https://www.siemens.com/global/en/home/company/innovation/corporate-technology.html">Corporate Technology</a>. I am working on Semantic Web technologies and (Industrial) Knowledge Graphs. </p>

<p>In November 2017 I successfully defended my doctoral thesis <a href="#Bischof2017">Complementary Methods for the Enrichment of Linked Data</a> at the <a href="https://www.tuwien.at/">TU Wien</a> under the supervision of <a href="http://polleres.net/">Prof. Axel Polleres</a>. The dissertation introduces and studies different methods to prepare and complete Linked Data for analysis: transparent reasoning on top of SPARQL, exploit equational knowledge, statistical methods and combinations. We used statistical city data as a basis for a concrete use case and implemented the methods in the <a href="http://citydata.wu.ac.at/ocdp/">Open City Data Pipeline</a> prototype.
</p>

	 <h1>Publications</h1>
<p>Find a list of most of my publications on <i class="ai ai-dblp"></i> <a href="https://dblp.org/pid/40/3609-2.html">DBLP</a>, <i class="ai ai-google-scholar"></i> <a href="https://scholar.google.com/citations?user=U8wSrHwAAAAJ">Google Scholar</a>, <i class="ai ai-orcid"></i> <a href="https://orcid.org/0000-0001-9521-8907">ORCID</a>, <a href="https://www.scopus.com/authid/detail.uri?authorId=6701506511">Scopus</a> or <i class="ai ai-semantic-scholar"></i> <a href="https://www.semanticscholar.org/author/Stefan-Bischof/143877076">Semantic Scholar</a>.</p>

{% include_relative mypublications.html %}

  
  <!--p>See <a href="publications.html">all publications</a>.</p-->

  <!--h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
    <a class="post-link" href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> 
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->
       
       <h1>Programme committees and reviewing</h1>
       <p><a href="https://www.aaai.org/">AAAI</a>, <a href="https://www.amw-rdm.org/">AMW</a>, <a href="https://eswc-conferences.org/">ESWC</a>, <a href="http://swsa.semanticweb.org/content/international-semantic-web-conference-iswc">ISWC</a>, <a href="https://semantics.cc/">Semantics</a>, <a href="http://www.semantic-web-journal.net/">Semantic Web Journal</a>, <a href="https://www.journals.elsevier.com/information-sciences/">Information Sciences</a>, &hellip;</p>
   </div>

<div class="col4">
	 
<h1>Contact me</h1>
  <p>Mail me at <span><var>firstname</var>@stefanbischof.at</span> (replace <var>firstname</var> with my firstname).</p>

<h1>Funded projects</h1>
  <ul>
    <li>PHOENIX: Horizon 2020</li>
    <li><a href="https://iotcrawler.eu/">IoTCrawler</a>: EU Horizon 2020</li>
    <li><a href="http://www.resin-cities.eu/">RESIN</a>: Climate Resilient Cities and Infrastructures, EU Horizon 2020</li>  
    <li><a href="http://www.bprofem.org/">BProfEM</a>: Building Profiling for Energy Management, Austria FFG</li>
    <li><a href="http://www.ict-citypulse.eu/">CityPulse</a>: Real-Time IoT Stream Processing and Large-scale Data Analytics for Smart City Applications EU FP7</li>
    <li><a href="https://www.dbai.tuwien.ac.at/research/project/SEE/">SEE: SPARQL Evaluation and Extensions</a> Vienna WWTF</li>
    <li><a href="http://www.transform-plus.at/">Transform+</a>: Austria FFG</li>
  </ul>
  </div>
</div>
