---
layout: default
header: big
---

<div class="row">
       <div class="col8">

<p>Research scientist at Siemens AG Österreich. External lecturer at FH Krems. I received my PhD in Computer Science from <a href="https://www.tuwien.at/">TU Wien</a>, where I studied different methods to prepare Linked Data for data analysis under the supervision of <a href="http://polleres.net/">Prof. Axel Polleres</a>. My research interests include data management, knowledge representation, and semantic web technologies.</p>


<h1>Publications</h1>
<p>Find a list of most of my publications on <a href="https://dblp.org/pid/40/3609-2.html">DBLP</a>, <a href="https://scholar.google.com/citations?user=U8wSrHwAAAAJ">Google Scholar</a>, <a href="https://orcid.org/0000-0001-9521-8907">ORCID</a>, <a href="https://www.scopus.com/authid/detail.uri?authorId=6701506511">Scopus</a> or <a href="https://www.semanticscholar.org/author/Stefan-Bischof/143877076">Semantic Scholar</a>.</p>

{% include_relative mypublications.html %}

  <!--p>See <a href="publications.html">all publications</a>.</p-->

  <!--h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
    <a class="post-link" href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a> <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> 
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->
       
       <h1>Programme committees and reviewing</h1>
       <p><a href="https://www.aaai.org/">AAAI</a>, <a href="https://www.amw-rdm.org/">AMW</a>, <a href="https://eswc-conferences.org/">ESWC</a>, <a href="https://swsa.semanticweb.org/content/international-semantic-web-conference-iswc">ISWC</a>, <a href="https://semantics.cc/">Semantics</a>, <a href="https://www.semantic-web-journal.net/">Semantic Web Journal</a>, <a href="https://www.journals.elsevier.com/information-sciences/">Information Sciences</a>, &hellip;</p>
   </div>

<div class="col4">
	 
<h1>Contact me</h1>
  <p>Mail me at <span><var>firstname</var>@stefanbischof.at</span> (replace <var>firstname</var> with my firstname).</p>

<h1>Funded projects</h1>
  <ul>
    <li><a href="https://projekte.ffg.at/projekt/4641766">DG Assist</a>: Agile & nachhaltige Produktion im diskontinuierlichen Druckgussprozess durch ein menschzentriertes Assistenzsystem, Austria FFG</li>
    <li><a href="https://databri-x.eu/">DataBri-X</a>: Data Process & Technological Bricks for expanding digital value creation in European Data Spaces, Horizon Europe</li>
    <li><a href="https://eu-phoenix.eu/">PHOENIX</a>: Adapt-&-Play Holistic cOst-Effective and user-frieNdly Innovations with high replicability to upgrade smartness of eXisting buildings with legacy equipment, EU Horizon 2020</li>
    <li><a href="https://iotcrawler.eu/">IoTCrawler</a>: a search engine for Internet of Things devices, EU Horizon 2020</li>
    <li><a href="https://resin-cities.eu/">RESIN</a>: Climate Resilient Cities and Infrastructures, EU Horizon 2020</li>  
    <li><a href="https://bprofem.auto.tuwien.ac.at/">BProfEM</a>: Building Profiling for Energy Management, Austria FFG</li>
    <li><a href="http://www.ict-citypulse.eu/">CityPulse</a>: Real-Time IoT Stream Processing and Large-scale Data Analytics for Smart City Applications EU FP7</li>
    <li><a href="https://www.dbai.tuwien.ac.at/research/project/SEE/">SEE: SPARQL Evaluation and Extensions</a> Vienna WWTF</li>
    <li><a href="http://www.transform-plus.at/">Transform+</a>: Austria FFG</li>
  </ul>
  </div>
</div>
